/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body{
    font-family: 'Noto Sans', sans-serif;
}
.container-big{
    margin: 0 auto;
    width: 70vw;
}
.clearfix::before{
    content: '';
    display: table;
    clear: both;
}
.flex{
    display: flex;
}
button{
    border-style: none;
}
button:hover{
    cursor: pointer;
    opacity: 0.7;
}
.button-blue{
    background-color: #0061ff;
    color: white;
}

/* NAVIGATION */
nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}
nav div > div{
    padding: 15px 0;
}
nav div > button{
    margin: 0 10px;
    padding: 5px 10px;
    background-color: white;
}
.navigation-left{
    float: left;
    padding-left: 10px;
}
.navigation-left img{
    width: 100px;
    vertical-align: middle;
}
.navigation-left > div, 
.navigation-right > div{
    display: inline-block; 
}
.navigation-right{
    float: right;
    text-align: end;
    padding-right: 10px;
}
.navigation-left > div:not(.logo):hover,
.navigation-right > div:not(.login):hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}

/* MAIN*/
/* header */
header{
    padding-top: 100px;
    background-color: #b4d0e7
}
.header-title > h1{
    padding-bottom: 30px;
    font-size: 4em;
}
.header-paragraph{
    width: 30vw;
}
.header-paragraph > button{
    margin: 30px 0;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
}
.header-paragraph i {
   font-size: 3em;
   margin-top: 70px;
   color: black;
}
.header-img{
    width: 80vw;
    height: 200px;
}
.header-img > img{
    width: 100%;
}
.container-main{
    width: 60vw;
    margin: auto;
}
.container-main > section{
    margin-bottom: 140px;
    margin-top: 50px;
}

/* piano business*/
.business-title > h2{
    font-size: 2.5em;
}
.business-title div{
    display: inline-block;
    margin: 50px 50px 50px 0;
}
.circle{
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    height: 20px;
    width: 20px; 
    display: inline-block;
    vertical-align: middle;
}
.first-radio > span{
    border: 4px solid blue;
}
.column-business > .column-top{
    justify-content: space-between;
}
.column-top > div{
    max-width: 280px;
}
.box{
    border: 1px solid gray;
}
.box > h3{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 5px 0;
    font-size: 0.8em;
}
.box i{
    margin-right: 5px;
    font-size: 0.8em;
}
.container-small{
    padding: 30px;
}
.container-small h4{
    font-size: 1.2em;
}
.container-small h5{
    margin-top: 20px;
    margin-bottom: 10px;
}
.container-small p{
    font-size: 0.8em;
}
.container-small span{
    font-size: 13px;
}
.part-center{
    margin: 50px 0;
}
.part-center > div,
.part-bottom > div{
    margin: 15px 0;
}
.part-button{
    padding-bottom: 30px;
    text-align: center;
}
.part-button > button{
    padding: 10px 30px;
    width: 100%;
}
hr{
    margin: 40px 0;
    width: 40px;
    background-color: lightgray;
}
.part-bottom div > i{
    color: blue;
}
.column-bottom{
    margin-top: 40px;
}
.column-bottom p{
    margin-top: 50px;
}
.column-bottom .container-small div > *{
    display: inline-block;
}
.column-bottom .container-small div > .part-button{
    float: right;
}

/* partner-dropbox */
.partner-img{
    width: 60vw;
}
.partner-img > img{
    width: 100%;
}
.info-partner{
    width: 40vw;
    padding: 40px;
}
.info-partner > h2{
    margin-bottom: 15px;
}
.info-partner > button{
    margin-top: 30px;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid black;
}

/* piano business 2 */
.column-business-2 > h2{
    margin-bottom: 40px;
    font-size: 1.9em;
}
.container{
    flex-wrap: wrap;
    justify-content: space-between;
}
.container > div{
    width: 30%;
}
.container img{
    width: 100%;
}
.container p{
    padding-top: 15px;
    padding-bottom: 25px;
}

/* n. teams usano dropbox */
.people-use > h2{
    font-size: 1.9em;
    margin-bottom: 50px;
}
.people-use > span{
    font-size: 0.8em;
}

/* designit */
.designit-center{
    padding: 30px;
    overflow: auto;
    background-color: #f5f5f5;
}
.designit-center img{
    width: 60%;
}
.designit-center > hr{
    width: 100px;
    color: lightgray;
}
.designit-center > p{
    padding-bottom: 40px;
}
.designit-img > div{
    justify-content: center;
    align-items: center;
}
.designit-img img{
    width: 50%;
    filter: invert(1);
}
.square-1{
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}
.square-2{
    background-color: #61082b;
}
.square-3{
    background-color: #0093ce;
}
.square-4{
    background-color: #ff1c1c;
}
.square-5{
    background-color: #d5001f;
}
.square-6{
    background-color: #b4d0e7;
}
.square-7{
    background-color: #0d2481;
}
.square-8{
    background-color: #ffd830;
}

/* prova gratuita*/
.free-dropbox{
    background-color: #b4d0e7;
}
.container-main{
    padding: 80px 0;
    justify-content: space-between;
}
.free-dropbox h2{
    font-size: 1.9em;
}
.free-dropbox button{
    padding: 10px 40px;
}

/* domande frequenti*/
.questions h2{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.9em;
}
.question{
    padding: 25px 0;
    border-top: 1px solid gray;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-main > .question:last-child{
    border-bottom: 1px solid gray;
}
.question span{
    margin-right: 30px;
}
.question p{
    margin-top: 40px;
    display: none;
}
.question:hover p{
    display: block;
}
.arrow i:first-child{
    display: none;
}
.question:hover .arrow i:first-child{
    display: block;
}
.question:hover .arrow i:last-child{
    display: none;
}

/* FOOTER */
/* lista informazioni */
footer{
    background-color: black;
}
.info{
    color: white;
    padding: 50px 0;
    justify-content: space-between;
}
.info div{
    width: calc(100% / 5);
}
.info h3{
    margin-bottom: 30px;
}
.info-list li{
    list-style: none;
    margin: 10px 0;
}
.info-list li > a{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}
footer hr{
    width: 100px;
}
/* cambia lingua */
.italy{
    color: white;
    font-size: 0.7em;
    padding-bottom: 40px;
}
.italy i{
    margin-right: 5px;
}





















/* DEBUG */
footer *{
    /* border: 1px solid white; */
}
.designit{
    height: 500px;
}
.designit div{
    width: calc(100% / 3);
}
.designit-img{
    flex-wrap: wrap;
}
.designit-img div{
    width: 50%;
    height: 50%;
}