/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body{
    font-family: 'Noto Sans', sans-serif;
}
.container{
    margin: 0 auto;
    width: 80vw;
}
button{
    border-style: none;
}
button:hover{
    cursor: pointer;
}
.button-blue{
    background-color: #0061ff;
    color: white;
}

/* NAVIGATION */
nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}
.clearfix::before{
    content: '';
    display: table;
    clear: both;
}
nav div > div{
    padding: 15px 0;
}
nav div > button{
    margin: 0 10px;
    padding: 5px 10px;
    background-color: white;
}
.navigation-left{
    float: left;
    padding-left: 10px;
}
.navigation-left img{
    width: 100px;
    vertical-align: middle;
}
.navigation-left > div, 
.navigation-right > div{
    display: inline-block; 
}
.navigation-right{
    float: right;
    text-align: end;
    padding-right: 10px;
}
.navigation-left > div:not(.logo):hover,
.navigation-right > div:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}

/* HEADER */
header{
    padding-top: 100px;
    background-color: #b4d0e7
}
.header-bottom{
    display: flex;
}
.header-title > h1{
    padding-bottom: 30px;
    font-size: 4em;
}
.header-paragraph{
    width: 30vw;
}
.header-paragraph > button{
    margin: 30px 0;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
}
.header-paragraph i {
   font-size: 3em;
   margin-top: 80px;
   color: black;
}
.header-img{
    width: 70vw;
    height: 400px;
}
.header-img > img{
    width: 100%;
}

/* MAIN */
main{
    padding-top: 150px;
}
.container-main{
    width: 70vw;
    margin: auto;
}
.container-main > section{
    margin: 30px 0;
}
.business-title > h2{
    font-size: 2.5em;
}
.business-title div{
    display: inline-block;
    margin: 50px 50px 50px 0;
}
.circle{
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    height: 20px;
    width: 20px; 
    display: inline-block;
    vertical-align: middle;
}
.first-radiobox > span{
    border: 4px solid blue;
}
.column-business > .column-top{
    display: flex;
    justify-content: space-between;
}
.column-top > div{
    width: 300px;
}
.business-box{
    border: 1px solid black;
}
.card{
    padding: 30px;
}
.business-box > h3{
    text-align: center;
    border: 1px solid black;
    padding: 5px 0;
    font-size: 0.8em;
}
.card h4{
    font-size: 1.2em;
}
.card h5{
    margin-top: 20px;
    margin-bottom: 10px;
}
.card p{
    margin: 20px 0;
    font-size: 0.8em;
}
.card span{
    font-size: 13px;
}
.card-center{
    margin: 50px 0;
}
.card-button{
    text-align: center;
    margin-bottom: 30px;
}
.card-button > button{
    padding: 10px 30px;
}
hr{
    margin: 40px 0;
    width: 40px;
}
.column-bottom{
    margin-top: 40px;
}
.card-bottom > h5{
    margin-bottom: 30px;
}
.column-bottom p{
    margin-top: 50px;
}























/* DEBUG */
*{
    /* border: 1px solid black; */
}


.partner-dropbox{
    display: flex;
}
.partner-dropbox div:first-child{
    height: 400px;
    width: 60%;
    background-color: green;
}
.partner-dropbox div:last-child{
    height: 400px;
    width: 40%;
    background-color: red;
}
.column-business-two{
    /* margin-top: 50px; */
    display: flex;
    flex-wrap: wrap;
}
.column-business-two div{
    width: calc(100% / 3);
    height: 400px;
    background-color: chocolate;
}
.designit{
    background-color: cadetblue;
    height: 500px;
    display: flex;
}
.designit div{
    background-color: blanchedalmond;
    width: calc(100% / 3);
}
.designit-img{
    display: flex;
    flex-wrap: wrap;
}
.designit-img div{
    width: 50%;
    height: 50%;
}
.free-dropbox{
    height: 300px;
    background-color: blue;
}
footer{
    background-color: black;
    height: 500px;
}
.questions{
    height: 400px;
    background-color: green;
}
.questions div{
    height: 50px;
    background-color: red
}
footer .info{
    display: flex;
    background-color: yellow;
    height: 300px;
    margin-top: 30px;
}
.info div{
    width: calc(100% / 5);
}
.container .italy{
    height: 20px;
    background-color: white;
}